.bottom {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: black;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  padding-right: 50px;
}

.bottom-btn {
  display: flex;
  gap: 15px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}

.bg-circle-white {
  color: black;
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
